@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Thin.woff')
        format('woff');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-ExtraLight.woff')
        format('woff');
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Light.woff')
        format('woff');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff')
        format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Medium.woff')
        format('woff');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-SemiBold.woff')
        format('woff');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Bold.woff')
        format('woff');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-ExtraBold.woff')
        format('woff');
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Black.woff')
        format('woff');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: 'Suit';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Thin.woff2')
        format('woff2');
    font-weight: 100;
    font-display: swap;
}

@font-face {
    font-family: 'Suit';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-ExtraLight.woff2')
        format('woff2');
    font-weight: 200;
    font-display: swap;
}

@font-face {
    font-family: 'Suit';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Light.woff2')
        format('woff2');
    font-weight: 300;
    font-display: swap;
}

@font-face {
    font-family: 'Suit';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2')
        format('woff2');
    font-weight: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Suit';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Medium.woff2')
        format('woff2');
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: 'Suit';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-SemiBold.woff2')
        format('woff2');
    font-weight: 600;
    font-display: swap;
}

@font-face {
    font-family: 'Suit';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Bold.woff2')
        format('woff2');
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: 'Suit';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-ExtraBold.woff2')
        format('woff2');
    font-weight: 800;
    font-display: swap;
}

@font-face {
    font-family: 'Suit';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Heavy.woff2')
        format('woff2');
    font-weight: 900;
    font-display: swap;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    width: 100vw;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}
img,
video,
iframe {
    max-width: 100%;
    height: auto;
    display: block;
}
html,
body {
    font-size: 10px;
    width: 100vw;
    overflow-x: hidden !important;
}

body {
    line-height: 1.5;
    font-size: 16px;
}

a {
    list-style: none;
    color: #333;
    text-decoration: none;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after {
    content: '';
    content: none;
}

q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    clip: rect(0, 0, 0, 0);
    overflow: hidden;
}

* {
    box-sizing: border-box;
}

body {
    background: #fff;
    font-family: 'Pretendard', 'Suit', 'sans-serif';
}
html.is-active {
    overflow-y: hidden;
}

#header {
    border-bottom: 1px solid #dcdcdc;
    width: 100%;
    background-color: #000;
}
#header .inner {
    height: 100px;
}
#header h1 {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}
#header h1 a img {
    width: 60px;
}
#header .nav {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#header .nav ul {
    display: flex;
}
#header .nav ul li {
    margin-left: 100px;
    position: relative;
}
#header .nav ul li a {
    font-size: 18px;
    font-weight: 500;
    transition: 0.3s;
    color: #fff;
}
#header .nav ul li a:hover {
    color: tomato;
}
#header .nav ul li:last-child span {
    font-size: 16px;
    border-radius: 50%;
    display: block;
    position: absolute;
    right: -20px;
    top: -5px;
    width: 20px;
    height: 20px;
    background-color: #000;
    color: #fff;
    text-align: center;
    line-height: 20px;
}
#header .top-menu {
    position: absolute;
    right: 0;
    top: 10px;
    display: flex;
}
#header .top-menu li {
    margin-left: 25px;
}
#header .top-menu li a {
    font-size: 15px;
}
@media (max-width: 1023px) {
    #header {
        background: pink;
    }
    #header .inner {
        height: 70px;
        width: 100%;
    }
    #header h1 {
        left: 10px;
    }
    #header h1 a img {
        width: 40px;
    }
    #header .nav ul li {
        margin-left: 40px;
    }
    #header .nav ul li a {
        font-size: 16px;
    }
}

#footer {
    background-color: #000;
    width: 100%;
}
#footer .inner {
    height: 250px;
}
#footer h2 {
    padding-top: 80px;
    font-size: 20px;
    color: #fff;
}

.inner {
    width: 1400px;
    margin: auto;
    position: relative;
    box-sizing: border-box;
}
@media (max-width: 1023px) {
    .inner {
        width: 95%;
    }
} /*# sourceMappingURL=index.css.map */
html,
body {
    overflow-x: auto; /* 가로 스크롤 가능 */
    scrollbar-width: none; /* Firefox에서 스크롤바 숨김 */
    -ms-overflow-style: none; /* IE, Edge에서 숨김 */
    margin: 0;
    padding: 0;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera에서 스크롤바 숨김 */
}
body {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE 10+ */
}

body::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
}
